.container {
    display: grid;
    grid-template-areas:
        "empty palette palette palette palette"
        "reset wintext wintext wintext wintext"
        "reset board   board   board   board";
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    width: 60%;
}

.spacer {
    margin-left: 0;
    margin-right: 0;
}

.empty {
    grid-area: empty;
}

.reset {
    grid-area: reset;
    margin-top: 30px;
    text-align: center;
}

.reset > li {
    list-style: none;
    margin-top: 10px;
}

.wintext {
    grid-area: wintext;
    font-size: 20pt;
    padding-bottom: 5px;
    text-align: center;
}

.board {
    grid-area: board;
    margin-top: 5px;
}

.board-cell {
    height: 50px;
    max-height: 50px;
    min-height: 50px;
    max-width: 50px;
    min-width: 50px;
    width: 50px;
}

.palette {
    grid-area: palette;
    margin-top: 5px;
    text-align: center;
}

.palette-list {
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20px;
}

.palette-cell {
    border-radius: 30px;
    max-width: 30px;
    min-width: 30px;
    cursor: pointer;
}

mat-grid-tile {
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
