
<div class="container">
    <ul class="reset">
        <li>
            <button mat-icon-button (click)="reset(true)" aria-label="New game">
                <mat-icon color="primary">fiber_new</mat-icon>
            </button>
        </li>
        <li>
            <button mat-icon-button color="primary" (click)="reset(false)" aria-label="Restart current game">
                <mat-icon color="primary">history</mat-icon>
            </button>
        </li>
    </ul>

    <div class="palette">
        <mat-grid-list class="palette-list" cols="{{colors.length}}" rowHeight="30px">
            <mat-grid-tile class="palette-cell" [style.background-color]="color"
                *ngFor="let color of colors; index as idx" (click)="select_color(idx)">&nbsp;
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <div class="wintext">
        {{request.state.win_text}}
    </div>

    <div class="board">
        <mat-grid-list cols="{{boardSize}}" rowHeight="50px">
            <ng-container *ngFor="let row of board">
                <mat-grid-tile class="board-cell" [style.background-color]="color" *ngFor="let color of row">
                    &nbsp;
                </mat-grid-tile>
            </ng-container>
        </mat-grid-list>
    </div>
</div>